body{
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	align-items: center;
	background: #191970;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	font-size: 100%;
	justify-content: center;
	text-align: center;
}
h2{
	color: white;
	text-align: center;
}
.btn_action:not(.botonEditor){
	display: inline-block;
	margin-top: 8px;
	width: 220px;
}
#opcionesPreviasAlJuego div:not(.btn){
	color:white;
	text-align: right;
	width:220px;
}
#juego, #editorDeFormaciones{
	font-size: 0;
}
#tablero, #tableroDeEditor, #mano{
	vertical-align: middle;
}
#tablero, #tableroDeEditor{
	background: saddlebrown;
}
#mano{
	background: gray;
	display: inline-block;
	position: relative;
}
.mazo, .carta{
	background-size: 100% 100%;
	position:absolute;
	text-align: center;
	color:white;
}
.cantidadDeCartas{
	background-color: white;
	color: orange;
	font-size: 20px;
}
.absolute, .cartaDelMazo{
	position: absolute;
}
#container, #containerDeEditor{
	position: relative;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}
.unidad{
	background-size: 100% 100%;
	position:absolute;
	transition: 2s all;
}
#feature{
	width:100%;
	text-align: left;
}
#feature>div{
	display:block;
}
#mazo{
	position:relative;
}
#browser_sidebar{
	height:auto;
}
.browser_categories, .man{
	height:100%;
}
.man li{
	display: inline-block;
}
#category #browser_sidebar, #category .browser_categories{
	width:auto;
}
#bodyCartas{
	color:white;
	font-size: 75%;
}
.cartaEnEditor{
	padding:4px 0;
	border-top:2px solid #333;
}
.botonEditor{
	margin:0 4px;
}
#cartas{
	overflow: auto;
}
#unidadesDisponibles>div{
	background-size: 100% 100%;
	display: inline-block;
	position:relative;
}